@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900');
@font-face{
	font-family: "Raleway";
	src: url('../fonts/Raleway-VariableFont_wght.woff');
	src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

header{
    display: flex;
    background-color: #17abb3;
    height: 13em;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
}

h1{
    /*La 'font-family' Lato est appliquée sur le TITRE Principal*/ 
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
}

h2{
    /*La 'font-family' Lato est appliquée sur les TITRES Secondaires*/
    font-family: 'Lato', sans-serif;
}

h3{
    /*La 'font-family' Lato est appliquée sur les TITRES Secondaires*/
    font-family: 'Lato', sans-serif;    
}

picture{
    margin: -0.6em 0 0 -4em;
    width: 8em;
    height: 8em;
}

.ImgProfil{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 0.3em solid #ffffff;
}

picture:hover img{
    cursor: zoom-in;
}

picture:active img{
    transform: scale(1.5);
    object-fit: cover;
}

.InfoGen{
    margin-right: 3em;
    margin-left: -3em;
}

.contact{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
}

.contact__list{
    display:flex;
    float: left;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    margin: -1.5em 2em 0 0;
    height: 4em;
    text-align: left;
}

.contact__list2{
    display:flex;
    float: right;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    margin-top: -1.5em;
    height: 4em;
    text-align: left;
}

.contact__item1{
    list-style-image:  url('../img/Mail.png');
}

.contact__item2{
    list-style-image:  url('../img/Telephone.png');
    padding-top: 0.4em;
}

.contact__item3{
    list-style-image:  url('../img/Adresse.png');
}

.contact__item4{
    list-style-image:  url('../img/Permis.png');
    padding-top: 0.4em;
}

.contact__link{
    color: #ffffff;
    text-decoration: none;
}

body{
    width: 72.5em;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    background-color: #f5f5f5;
}

main{
    display: flex;
    position: relative;
    height: 70em;
}

.foot{
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: small;
    background-color: #17abb3;
    color: #ffffff;
    justify-content: center;
    align-items: end;
    height: 7em;
}

/*Liens vers les réseaux sociaux*/
.social_icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social_item{
    width: 2.4em;
    height: 2.4em;
}

.social_item:hover{
    opacity: 0.8;
}

img{
    border-radius: 0%;
    border-style: none;
}
