@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900');
@font-face{
	font-family: "Raleway";
	src: url('../fonts/Raleway-VariableFont_wght.woff');
	src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

header{
    display: flex;
    background-color: #17abb3;
    height: 13em;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
}

h1{
    /*La 'font-family' Lato est appliquée sur le TITRE Principal*/ 
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
}

h2{
    /*La 'font-family' Lato est appliquée sur les TITRES Secondaires*/
    font-family: 'Lato', sans-serif;
}

h3{
    /*La 'font-family' Lato est appliquée sur les TITRES Secondaires*/
    font-family: 'Lato', sans-serif;    
}

picture{
    margin: -0.6em 0 0 -4em;
    width: 8em;
    height: 8em;
    position: static;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 0.3em solid #ffffff;
}

picture:hover img{
    cursor: zoom-in;
}

picture:active img{
    transform: scale(1.5);
    object-fit: cover;
}

.InfoGen{
    margin-right: 3em;
    margin-left: -3em;
}

.contact{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
}

.contact__list{
    display:flex;
    float: left;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    margin: -1.5em 2em 0 0;
    height: 4em;
    text-align: left;
}

.contact__list2{
    display:flex;
    float: right;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    margin-top: -1.5em;
    height: 4em;
    text-align: left;
}

.contact__item1{
    list-style-image:  url('../img/Mail.png');
}

.contact__item2{
    list-style-image:  url('../img/Telephone.png');
    padding-top: 0.4em;
}

.contact__item3{
    list-style-image:  url('../img/Adresse.png');
    list-style-type: none;
}

.contact__item4{
    list-style-image:  url('../img/Permis.png');
    padding-top: 0.4em;
}

.contact__link{
    color: #ffffff;
    text-decoration: none;
}

body{
    width: 72.5em;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    background-color: #f5f5f5;
}

main{
    display: flex;
    position: relative;
    height: 60em;
}

/*-----Section GAUCHE-----*/
.blocleft{
    position: relative;
    width: 23em;
    background-color: #e3e3e3;
}

/*Titres secondaires partie GAUCHE*/
.h2left{
    color: #17abb3;
    border-bottom: 0.1em solid #f5f5f5;
    margin: 1.5em 2em 1em 2em;
}

/*Compétences & Langues*/
.skills{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 3em;
}

/*Texte Compétences & Langues*/
.RateTxt{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

/*Système de notation par étoiles*/
.star{
    font-size: 1.2em;
    color: #17abb3;
}

/*Texte niveau des langues*/
.LangLevel{
    font-family: 'Raleway', sans-serif;
    color: #333333;
}

/*Styles de listes qualités & centres d'intérêt*/
.ListStyle{
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    margin: 0.5em 3em;
    padding-left: 0;
    line-height: 1.4em;
    color: #333333;
    list-style-type: none;
}

/*Puces & couleur - Qualités & centres d'intérêt*/
.ListPos::before{
    content: "\0025A0";
    padding-right: 0.8em;
    color: #17abb3;
    vertical-align: text-bottom;
 }

/*-----Section DROITE-----*/
.blocright{
    position: relative;
    width: 49.5em;
    background-color: #ffffff;
}

/*Titres secondaires partie DROITE*/
.h2right{
    color: #17abb3;
    border-bottom: 0.1em solid rgba(227, 227, 227, 1);
    margin: 1.5em 2em 1em 2em;
}

.h3right{
    color: #333333;
    margin-top: 0.5em;
}

/*Profil*/
.about{
    font-family: 'Raleway', sans-serif;
    color: #333333;
    text-indent: 2em;
    text-align: justify;
    margin: 0 3em;
}

/*Formations, Diplomes et Experience PRO*/
.FormBox{
    display: flex;
    flex-direction: column;
    margin: 0 3em;
}

/*Périodes Formations, Diplomes et Expérience PRO*/
.period{
    float: right;
    font-family: 'Raleway', sans-serif;
    color: #17abb3;
    font-size: medium;
    margin-top: -2.4em;
    padding-bottom: 0.1em;
}

/*Sous Texte Formations, Diplomes et Expérience PRO*/
.FormTxt{
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: small;
    color: #333333;
    margin-top: -1.5em;
    padding-bottom: 0.5em;
}

.Experience{
    margin-top: 0.3em;
}

.Experience:hover{
    background-color: #e3e3e3;
    border-left: 0.4em solid #17abb3;
}

.foot{
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: small;
    background-color: #17abb3;
    color: #ffffff;
    justify-content: center;
    align-items: end;
    height: 7em;
}

